@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Task1.Models.Category>
@*@model IEnumerable<Task1.Models.Category>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="text-align: center">Category List</h1>

<p>
    @Html.ActionLink("New Category", "AddCat", "Category", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Too See Product List", "ProductList", "Product", null, new { @class = "btn btn-primary" })

</p>




@if (!Model.Any())
{


    <p>We dont have any category</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Actions</th>
                <th>CatID</th>
                <th>CatName</th>
            </tr>
        </thead>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = category.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = category.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Active", "Active", new { id = category.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Deactive", "Deactive", new { id = category.Id}, new { @class = "btn btn-danger" })
                </td>
                <td>@category.Id</td>
                <td>@category.CatName</td>
            </tr>
        }
    </table>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

