@model Task1.ViewModels.AddProductViewModel
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddProduct</h2>

<p>
    @Html.ActionLink("BAck To ProductList", "ProductList", "Product", null, new { @class = "btn btn-primary" })
</p>



@using (Html.BeginForm("Save", "Product"))
            {
<div class="form-group">
    @Html.LabelFor(m => m.Product.ProductName)
    @Html.TextBoxFor(m => m.Product.ProductName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Product.ProductName);
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Product.CategoryId)
    @Html.DropDownListFor(m => m.Product.CategoryId,new SelectList(Model.Categories, "Id", "CatName"), "Select Category", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Product.CategoryId);
</div>
@Html.HiddenFor(m => m.Product.Id)
@Html.AntiForgeryToken()
<button type="submit" class="btn btn-primary" >Save</button>
}
